* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #111111;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.content {
    max-width: 1340px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

.logo {
    font-weight: 700;
}

.hero {
    height: 620px;
    border-radius: 20px;
}

.hero img {
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.new-releases, .discover-more, .culture, .hot-releases, .upcoming-releases, .icon, .sneaker-model, .sneaker-collab, .gallery, .favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.new-releases h2, .discover-more h2,  .hot-releases h2, .upcoming-releases h2, .icon h2, .gallery h2, .favourites h2 {
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
}

.card {
    display: flex;
    height: 420px;
    width: 320px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.card img {
    width: 280px;
    height: 220px;
    object-fit: cover;
}

.card-group {
    display: flex;
    gap: 20px;
}

.card-group-discover-more {
    display: flex;
    gap: 20px;
}

.card-group-releases {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.discover-more-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-discover-more-1 {
    height: 540px;
    width: 660px;
    background-color: #F5F5F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.card-discover-more-1 img, .card-discover-more-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-discover-more-2 {
    height: 260px;
    width: 660px;
    background-color: #F5F5F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.discover-more-card-text {
    color: #111111;
    font-size: 38px;
    font-weight: 700;
}

.card-group-icon {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.card-group-gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.card-gallery {
    display: flex;
    height: 400px;
    width: 660px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.card-gallery img {
    height: 360px;
    width: 480px;
    object-fit: cover;
}
.card p {
    text-align: center;
}

.card-icon p {
    text-align: center;
}

.card-group-home a {
    text-decoration: none;
}

.card-group-icon a {
    text-decoration: none;
}

.card-icon {
    display: flex;
    height: 400px;
    width: 660px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.card-icon img {
    height: 260px;
    width: 480px;
    object-fit: cover;
}

.card-icon p {
    font-weight:700;
    font-size: 32px;
    color: #111111;
}
.card-icon p.favourites{
    font-weight:600;
    font-size: 22px;
    color: #111111;
    margin-top: 48px;
}
.card p.titolo-scarpa {
    font-weight:600;
    font-size: 22px;
    color: #111111;
}

.card p.data {
    font-weight:500;
    font-size: 22px;
    color: #909090;
}

.card-group a, .discover-more a, .upcoming-releases a {
    text-decoration: none;
}

.button-release {
    background-color: #1a1a1a;
    border-radius:  26px;
    width: 188px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button-release p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.culture-content, .sneaker-model-content, .sneaker-collab-content {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.culture-content:last-child, .sneaker-model-content:last-child, .sneaker-collab-content:last-child {
    margin-bottom: 0;
}

.culture-text, .sneaker-model-text, .sneaker-collab-text {
    max-width: 620px;
}

.culture-text h2, .sneaker-model-text h2, .sneaker-collab-text h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.culture-p p, .sneaker-model-p p, .sneaker-collab-p p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 1.5em;
    font-weight: 500;
}

.culture-p p:last-child, .sneaker-model-p p:last-child, .sneaker-collab-p p:last-child {
    margin-bottom: 0;
}

.culture-p, .sneaker-model-p, .sneaker-collab-p {
    margin-bottom: 100px;
}

.culture-p:last-child, .sneaker-model-p:last-child, .sneaker-collab-p:last-child {
    margin-bottom: 0;
}

.culture-image-1 img, .culture-image-2 img, .sneaker-model-image img, .sneaker-collab-image img, .sneaker-collab-image-2 img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.culture-image-2, .sneaker-collab-image-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sneaker-model-content-2, .sneaker-collab-content-2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

footer {
    font-size: 18px;
    color: #fff;
    background-color: #1a1a1a;
    font-size: 18px;
}

.footer-content {
    max-width: 1440px;
    margin: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer ul {
    list-style-type: none;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-social p {
    font-weight: 600;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
}

.footer-nav ul, .footer-models ul, .footer-collabs ul, .footer-contact ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
}

.footer-title {
  font-weight: 600;  
}

p.footer-logo {
    font-size: 30px;
    font-weight: 700;
}

.footer-website-info {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
    font-weight: 400px;
}

.footer-info {
    display: flex;
    gap: 16px;
}
