* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #111111;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.content {
    max-width: 1340px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

.logo {
    font-weight: 700;
}

.hero {
    height: 620px;
    border-radius: 20px;
    background-color: #2c2c2c;
}

.new-releases, .discover-more, .hot-releases, .upcoming-releases, .icon-models {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.new-releases h2, .discover-more h2,  .hot-releases h2, .upcoming-releases h2, .icon-models h2{
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
}

.card img{
     width: 280px;
     height: 220px;
     object-fit: fill;
     
}

.card {
    display: flex;
    height: 420px;
    width: 320px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.card-group-home{
    display: flex;
    gap: 10px;
}
.card-iconcollabs{
    width: 660px;
    height: 260px;
    background-color: #F5F5F7;
    margin-top: 20px;
    border-radius: 20px;
}
.card-iconmodels{
    width: 660px;
    height: 260px;
    background-color: #F5F5F7;
    border-radius: 20px;
    
}
.card-culture{
    width: 660px;
    height: 540px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-culture p{
    text-align: center;
}
.card-iconcollabs p{
    text-align: center;
}
.card-iconmodels p{
    text-align: center;
}
.card-group-icon{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.card-culture p.titolo-scarpa{
    font-weight:700;
    font-size: 38px;
    color: #111111;
}
.card-iconmodels p.titolo-scarpa{
    font-weight:700;
    font-size: 38px;
    color: #111111;
}
.card-iconcollabs p.titolo-scarpa{
    font-weight:700;
    font-size: 38px;
    color: #111111;
}
.card p{
    text-align: center;
}

.card-icon p{
    text-align: center;
}

.card-icon img{
     width: 480px;
     height: 260px;
     object-fit: fill;
     
}
.card-group-home a{
    text-decoration: none;
}
.card-icon p.titolo-scarpa{
    font-weight:700;
    font-size: 38px;
    color: #111111;
}

.card-group-icon a {
    text-decoration: none;
}

.card-icon {
    display: flex;
    height: 400px;
    width: 660px;
    border-radius: 20px;
    background-color: #F5F5F7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card p.titolo-scarpa{
    font-weight:600;
    font-size: 22px;
    color: #111111;
}

.card p.data{
    font-weight:500;
    font-size: 22px;
    color: #909090;
}

.card-group:last-child {
    margin-bottom: 0px;
}

.card-group a {
    text-decoration: none;
}

.viewmore p{
    background-color: #111111;
    color: #F5F5F7;
    font-size: 25px;
    font-weight:600;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 100px;
    margin-top: 40px;
}

.upcoming-releases a{
    text-decoration: none;
}

footer {
    font-size: 18px;
    color: #fff;
    background-color: #1a1a1a;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer ul {
    list-style-type: none;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-social p {
    font-weight: 600;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
}

.footer-nav ul, .footer-models ul, .footer-collabs ul, .footer-contact ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
}

.footer-title {
  font-weight: 600;  
}

p.footer-logo {
    font-size: 30px;
    font-weight: 700;
}

.footer-website-info {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
    font-weight: 400px;
}

.footer-info {
    display: flex;
    gap: 16px;
}
